<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles/css/styles.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Profile</title>
</head>

<body>
  <% include partials/back-home.ejs %>
  <div class="profile">
    <div class="page-description">
      <!-- <img src="/images/profile-desc.jpg" alt=""> -->
      <div class="page-description-img">
        <img src="/images/profile-image.jpg" alt="">
      </div>
      <div class="grayish-blue-effect"></div>
      <h1>Profile</h1>
    </div>
    <div class="profile-body">
      <div class="profile-body__story">
        <h2 class='menu-header'>Story of glory</h2>
        <div class="profile-body__wrap">
          <div class="profile-body__profile-img">
            <img src="/images/profile-pic.jpg" alt="profile image">
          </div>
          <div class="profile-body__text">
            <p>
              Born in Uzbekistan in a middle class family. Very early found that education is only way out of very limited life that I
              had. So I started to study hard at school. But later I discovered that the formal education is not quite the
              best option to get to know the world out there.
            </p>
            <p>
              At that time my parents showed me a thing called computer and the internet. I jumped at exploring them right away. I got
              into them very quickly and taught myself programming (i.e creating amazing things by using computer's unbelievably
              great power). I'm very optimist about the possibilities of technologies and believe that they are game changers. And I'm thrilled thinking that one day I could create such a change.
            </p>
            <p>
              Right now I'm looking for opportunity at a company where people are not focused on hours thay spent on work but value they
              are adding to the world and where I could put my energy and time so to create remarkable products.
            </p>

          </div>
        </div>
      </div>
      <div class="profile-body__skills">
        <h2 class='menu-header'>What can I do?</h2>
        <div class="profile-body__skill-wrap">
          <div class="profile-body__skill">
            <i class='fa circle-icon fa-code'></i>
            <div class="profile-body__skill-title">
              <h3>
                Web development
              </h3>
            </div>
            
          </div>
          <div class="profile-body__skill">
            <i class='fa circle-icon fa-eye'></i>
            <div class="profile-body__skill-title">
              <h3>
                Web design
              </h3>
            </div>
            
          </div>
          <div class="profile-body__skill">
            <i class='fa circle-icon fa-eyedropper'></i>
            <div class="profile-body__skill-title">
              <h3>
                Graphic design
              </h3>
            </div>
            
          </div>
          <div class="profile-body__skill">
            <i class='fa circle-icon fa-lightbulb-o'></i>
            <div class="profile-body__skill-title">
              <h3>
                Generate creative ideas
              </h3>
            </div>
            
          </div>
          <div class="profile-body__skill">
            <i class='fa circle-icon fa-wrench'></i>
            <div class="profile-body__skill-title">
              <h3>
                Execute creative ideas
              </h3>
            </div>
            
          </div>
          <div class="profile-body__skill">
            <i class='fa circle-icon fa-rocket'></i>
            <div class="profile-body__skill-title">
              <h3>
                Lead a team
              </h3>
            </div>
            
          </div>
        </div>
      </div>
    </div>
</body>

</html>