<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles/css/styles.min.css">
  <title>Resume</title>
</head>

<body>
  <% include partials/back-home.ejs %>
    <div class="resume">
      <div class="page-description">
        <div class="page-description-img">
          <img src="/images/resume-image.jpg" alt="">
        </div>
        <div class="grayish-blue-effect"></div>
        <h1>resume</h1>
      </div>
      <div class="resume-body">
        <div class="experience">
          <div class="resume-container">
            <h2 class="menu-header">Experience</h1>
            <div class="experience__wrap">
              <div class="experience__item">
                <div class="experience__title">
                  <h3>
                    Graphic designer, Social marketing / June 2018 - present
                    <br>BonaPrezo General Trading LLC / Dubai
                  </h3>
                </div>
                <div class="experience__text">
                  <p>
                    Constantly creating content on social media and getting clients informed about new products, promotions and news related
                    to company.
                  </p>
                  <ol>
                    <li>Created interesting, informative and fun content(pictures, videos) on social media that doubled website
                      attendance rate.</li>
                    <li>Managed posting everyday content on social media. So clients will be informed everyday by our company</li>
                    <li>Created 2 videos that went viral.</li>
                  </ol>
                </div>
              </div>
              <div class="experience__item">
                <div class="experience__title">
                  <h3>
                    Front end web developer / June 2017 - March 2018
                    <br>MegaGroup.
                  </h3>
                </div>
                <div class="experience__text">
                  <p>
                    Developed client side of websites and added interactivity and optimized the performance for better user experience. Major
                    responsibilities were:
                  </p>
                  <ol>
                    <li>Development of front end views with styles</li>
                    <li>Use of View Models to create the dynamic views</li>
                    <li>Unit testing of the code written</li>
                    <li>Debugging and fixing of issues on production</li>
                    <li>Asynchronous programming flow for performance optimizations</li>
                    <li>Asynchronous WEB APIs for processing and interacting with database</li>
                  </ol>
                </div>
              </div>
              <div class="experience__item">
                <div class="experience__title">
                  <h3>
                    Intern, HTML and CSS coder / February 2017 – May 2017.
                    <br>MegaGroup.
                  </h3>
                </div>
                <div class="experience__text">
                  <p>
                    Responsible for translation of the UI/UX design wireframes to actual HTML/CSS layouts.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="education">
          <div class="resume-container">
            <h2 class="menu-header">Education</h1>
            <div class="education__wrap">
              <div class="education__item">
                <div class="education__title">
                  <h3>
                    College of Computer Technologies / Graduated in 2017</div>
                </h3>
                <div class="education__text">
                  <p>
                    Engineer of Information and Communication Systems
                  </p>
                </div>
              </div>
              <div class="education__item">
                <div class="education__title">
                  <h3>
                    UNIX Fergana - bootcamp / April 2014 - June 2014</div>
                </h3>
                <div class="education__text">
                  <p>
                    Basics of web development
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="skills">
          <div class="resume-container">
            <h2 class="menu-header">Hard skills</h2>
            <div class="skills__wrap">
              <div class="skills__group skills__languages">
                <div class="skills__title">
                  <h3>
                    LANGUAGES
                  </h3>
                </div>
                <div class="skills__item">CSS3 (SCSS, LESS)</div>
                <div class="skills__item">HTML5 (Bootstrap 4)</div>
                <div class="skills__item">JavaScript (ES6)</div>
                <div class="skills__item">Typescript</div>
              </div>
              <div class="skills__group skills__methods">
                <div class="skills__title">
                  <h3>
                    METHODS & TOOLS
                  </h3>
                </div>
                <div class="skills__item">BEM, SMACSS</div>
                <div class="skills__item">NPM scripts, Webpack</div>
                <div class="skills__item">Responsive web design</div>
                <div class="skills__item">Optimization</div>
              </div>
              <div class="skills__group skills__frameworks">
                <div class="skills__title">
                  <h3>
                    FRAMEWORKS & LIBS
                  </h3>
                </div>
                <div class="skills__item">Angular</div>
                <div class="skills__item">Node.js</div>
                <div class="skills__item">EJS</div>
                <div class="skills__item">Express</div>
                <div class="skills__item">Mongoose</div>
                <div class="skills__item">Amazon Web Services</div>
                <div class="skills__item">Authentication (JWT, OATH2)</div>
              </div>
              <div class="skills__group skills__additional">
                <div class="skills__title">
                  <h3>
                    ADDITIONAL
                  </h3>
                </div>
                <div class="skills__item">Git, Github</div>
                <div class="skills__item">Photoshop</div>
                <div class="skills__item">Illustrator</div>
                <div class="skills__item">XD</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>

</html>