@import 'normalize';
@font-face {
  font-family: 'Robo';
  src: url('/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Jose';
  src: url('/fonts/JosefinSans-Regular.ttf');
}
html {
  font-family: sans-serif;
  font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
}

body {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: calc(28px + (64 - 28) * ((100vw - 300px) / (1600 - 300)));
  font-family: 'Jose', sans-serif;
  margin: 0;
}
h2 {
  font-size: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300)));
  font-family: 'Robo', sans-serif;
  margin: 0;
}
h3 {
  font-size: calc(18px + (24 - 18) * ((100vw - 300px) / (1600 - 300)));
  font-family: 'Robo', sans-serif;
  margin: 0;
}
p {
  font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
  font-family: 'Robo', sans-serif;
}
a {
  text-decoration: none;
}
ol {
  list-style-type: disc;
}
