.grayish-blue-effect {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  top: 0;
  left: 0;
  background: #1a1b23;
}
.yellow-effect {
  background: rgba(255, 195, 0, 0.5);
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.page-description {
  position: relative;
  width: 40%;
  .page-description-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  h1 {
    position: fixed;
    z-index: 4;
    text-transform: uppercase;
    font-weight: 500;
    bottom: 1em;
    margin-left: 0.7em;
    color: #e9e9e9;
    &::after {
      background-color: #ffc300;
      position: absolute;
      content: '';
      top: 100%;
      left: 0;
      width: 7em;
      height: 6px;
    }
  }
}

.menu-header {
  padding: 5rem 0 3rem 0;
  text-align: center;
}

.resume-container {
  width: 83.33333333%;
  margin: 0 auto;
}

.tile {
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.scale-anm {
  transform: scale(1);
}

.close-btn {
  z-index: 1000;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 60px;
  color: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 3%;
  top: 30px;
  background-size: cover;
  a {
    width: 100%;
    height: 100%;
  }
}

.highlight {
  color: #ffc300;
}

.circle-icon.fa {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: calc(15px + (25 - 15) * ((100vw - 300px) / (1600 - 300)));
  height: calc(30px + (60 - 30) * ((100vw - 300px) / (1600 - 300)));
  width: calc(30px + (60 - 30) * ((100vw - 300px) / (1600 - 300)));
  border-radius: 50%;
}

@include for-size(tablet-portrait-up) {
  // 899px down
  .page-description{
    flex-flow: column;
    width: 100%;
    height: 40vh;
    position: relative;
    .page-description-img{
      width: 100%;
      height: 40vh; 
    }
    h1{
      position: absolute;
      bottom: 1em;
      margin-left: 0.7em;
    }
  }
}